#htmlElement {
    height: 200px;
    width: 200px;
    font-size: 24px;
    z-index: -50;
    background: rgb(102, 112, 199);
    position: relative;
}

#htmlElement img {
    max-width: 100%;
    /* 親要素の幅内に収まるようにする */
    max-height: 100%;
    /* 親要素の高さ内に収まるようにする */
    display: block;
    /* インライン要素として表示される可能性がある場合、ブロック要素に変換 */
    margin: auto;
    /* 画像を水平方向に中央揃えにする */
}

#MainBuildingEast,
#MainBuildingCentral,
#MainBuildingWest,
#WoodDeck,
#MaterialsLabEast,
#MaterialsLabWest,
#DetailedTest1,
#DetailedTest2,
#DetailedTest3,
#DetailedTest4,
#OceanAndRiverLab,
#FireLab,
#SoundAndElectromagneticLab,
#AcousticsLab,
#WindSoundLab,
#WindLab,
#MechanicalConstructionLab,
#HumanAndSpaceLab,
#SoilAndSpaceLab,
#StructureLab {
    height: 200px;
    width: 200px;
    font-size: 24px;
    z-index: -50;
    position: relative;
}

#MainBuildingEast {
    background: rgb(142, 140, 198);
}

#MainBuildingCentral {
    background: rgb(167, 145, 195);
}

#MainBuildingWest {
    background: rgb(163, 140, 180);
}

#WoodDeck {
    background: rgb(151, 164, 141);
}

#MaterialsLabEast {
    background: rgb(164, 155, 143);
}

#MaterialsLabWest {
    background: rgb(151, 136, 169);
}

#DetailedTest1 {
    background: rgb(220, 183, 138);
}

#DetailedTest2 {
    background: rgb(215, 207, 145);
}

#DetailedTest3 {
    background: rgb(190, 190, 190);
}

#DetailedTest4 {
    background: rgb(92, 105, 113);
}

#OceanAndRiverLab {
    background: rgb(222, 156, 170);
}

#FireLab {
    background: rgb(191, 144, 115);
}

#SoundAndElectromagneticLab {
    background: rgb(192, 192, 192);
}

#AcousticsLab {
    background: rgb(0, 0, 0);
}

#WindSoundLab {
    background: rgb(255, 0, 0);
}

#WindLab {
    background: rgb(255, 255, 0);
}

#MechanicalConstructionLab {
    background: rgb(0, 128, 0);
}

#HumanAndSpaceLab {
    background: rgb(0, 0, 255);
}

#SoilAndSpaceLab {
    background: rgb(255, 165, 0);
}

#StructureLab {
    background: rgb(255, 255, 255);
}

#MainBuildingEast img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#MainBuildingCentral img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#MainBuildingWest img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#WoodDeck img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#MaterialsLabEast img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#MaterialsLabWest img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#DetailedTest1 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#DetailedTest2 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#DetailedTest3 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#DetailedTest4 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#OceanAndRiverLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#FireLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#SoundAndElectromagneticLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#AcousticsLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#WindSoundLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#WindLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#MechanicalConstructionLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#HumanAndSpaceLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#SoilAndSpaceLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#StructureLab img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}