#htmlElement {
    height: 200px;
    width: 200px;
    z-index: -50;
    background: red;
    position: relative; 
}

#htmlElement img {
    max-width: 100%; /* 親要素の幅内に収まるようにする */
    max-height: 100%; /* 親要素の高さ内に収まるようにする */
    display: block; /* インライン要素として表示される可能性がある場合、ブロック要素に変換 */
    margin: auto; /* 画像を水平方向に中央揃えにする */
}